---
name: Build, Test and Analyze Workflow

permissions:
  contents: read
  actions: read

on:
  workflow_call:
    secrets:
      MAVEN_SETTINGS_XML:
        required: true
      JASYPT_ENCRYPTOR_PASSWORD:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16
        ports:
          - 5432:5432
        env:
          POSTGRES_DB: inventory_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"

      - name: Pre-fetch Dependencies
        run: mvn --batch-mode dependency:go-offline

      - name: Cache Maven Repo
        uses: actions/cache@v5
        with:
          path: ~/.m2/repository
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      - name: Setup Maven settings.xml from secret
        run: |
          mkdir -p ~/.m2
          cat <<'EOF' > ~/.m2/settings.xml
          ${{ secrets.MAVEN_SETTINGS_XML }}
          EOF

      - name: Build & Run Tests
        run: mvn --batch-mode clean verify -Pcoverage -Dspring.profiles.active=test
        env:
          JASYPT_ENCRYPTOR_PASSWORD: ${{ secrets.JASYPT_ENCRYPTOR_PASSWORD }}

      - name: Upload Maven Target
        uses: actions/upload-artifact@v6
        with:
          name: maven-target
          path: target
